
body{
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.wrapper {
    display: block;
    margin-bottom: 75px;
}
.sphere {
    background-color: #3cf;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    box-sizing: border-box;
    line-height: 3;
    text-align: center;
    transition: margin 2s;
    transition-timing-function: linear;
    
}
.wrapper:hover .sphere {
    margin-left: 400px;
}
.s1 {
   
}
.s2 {
    background-color: #47dc80;
    transition-delay: .5s;
}
.s3 {
    background-color: #f4e338;
    transition-delay: 1s;
}
.s4 {
    background-color: #f98320;
    transition-delay: 1.5s;
}
